:root{
    --primary-color: #181414;
    --secondary-color: #212121;
    --text-color-inverse: black;
    --text-color: white;
    --navbar-shallow-color: #333;
    --scroll-color: red;
    --scroll-background: #1a1a1a;
    --btn-confirm: #1a691d; 
    --btn-confirm-hover: #388e3c;
    --btn-cancel: #992219;
    --btn-cancel-hover: #ec6565;
    --error-color: #d32f2f;
    --border: gray;
    --selected-card: #4020;
    --selected-color-card: rgb(181, 185, 180);
}

*{
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url('/img/bk.jpg');
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

/*scroll Global*/

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

