.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: var(--navbar-shallow-color);
}

.current-page {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);;
}

.pagination button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
