.main-content{
    margin-left: 19%;
    padding: 20px;
    width: 60%;
    min-height: 80vh;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-Img {
    width: 250px;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
    
}

.card:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cardSection {
    margin-top: 3%;
}

.cardSection h2 {
    margin-bottom: 2%;
}

.category-divider {
    margin: 0 0 3% 0;
    border: none;
    border-top: 1px solid var(--text-color);
    border-radius: 2px;
}

.category-header {
    display: flex;
    justify-content: space-between;
}

.see-more {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    padding: 0.2% 8px;
    border-radius: 4px;
}

.see-more:hover{
    text-decoration: underline;
    transform: translateY(-2px) scale(1.05);
}

